body{
	background-color: #1e203a;
	/*text-align: center;*/
}

span{
	color:hotpink;
}

.story{
	border: 3px dotted yellow;
	text-align: center;
	width: 70%;
	position: relative;
	margin: 200px auto;
	color: white;
	display:none;	
}
#page1{
	display: block;
}
#page2{
	/*display: block;*/
}
#page3{
	/*display: block;*/
}







#gamePage{
	border: 3px dotted black;
	width: 600px;
	height:660px;
	margin: auto;
/*when the game page is showing change the display to flex. otherwise, none*/
	/*display: flex;*/
	display: none;
	flex-direction: column;
}
#metersContainer{
	border:3px dotted red;
	width: 600px;
	height: 100px;
	display: flex;
	justify-content: space-around;
}

#turn{
	border:3px dotted blue;
	width: 70px;
	height: 70px;
	margin: auto 0;
	color:white;
	/*text-align: center;*/
}
#inventory{
	border: 3px dotted blue;
	width:100px;
	height: 100px;
}
#roomsContainer{
	border:3px dotted red;
	width: 600px;
	height: 560px;
	position:relative;
	/*margin-top: 100px;*/
}
.rooms{
	border:3px dotted green;
	width: 600px;
	height: 560px;
	position: relative;
	display:none;
}
#tableRoom{
	/*display: block;*/
}
#chairRoom{
	/*display: block;*/
}
#vaseRoom{
	/*display:block;*/
}


.space{
	border:3px dotted purple;
	width: 300px;
	height: 280px;
	position: absolute;
	/*margin:auto;*/
	display: inline-block;
	z-index: -1;
}


.no2{
	left: 300px;
}
.no3{
	left:0;
	top:280px;
}
.no4{
	left:300px;
	top:280px;
}

#player{
	z-index: 1;
	position:absolute;
	color: white;
}